<app-header></app-header>
<div class="landing-section-container">
 <div class="landing-section">
    <div class="banner-wrapper">
        <div class="text-block-wrapper">
            <h1 class="landing-quote"><span class="banner-span-red">EXCEPTIONAL</span> PRIMARY & PREVENTIVE HEALTHCARE</h1>
            <p class="banner-paragraph"> Good health is a state of mental, physical and social well being and it does not just mean the absence of disease! </p>
            
        </div>
        <div class="banner-image">
            <img src="../assets/banner-img.png">
        </div>
    </div>
 </div>
</div>