<app-header></app-header>
<div class="landing-section-container">
 <div class="landing-section">
    <div class="banner-wrapper">
        <div class="text-block-wrapper">
            <h1 class="landing-quote"><span class="banner-span-red">EXCEPTIONAL</span> PRIMARY & PREVENTIVE HEALTHCARE</h1>
            <p class="banner-paragraph"> Good health is a state of mental, physical and social well being and it does not just mean the absence of disease! </p>
        </div>
        <div class="banner-image">
            <img src="../assets/banner-img.png">
        </div>
    </div>
</div>
</div>
    <div class="departments-section-wrapper">
        <div class="departments-banner">
            <div class="dept-text-block-wrapper">
               <h1 class="Dept-heading">Different types of departments</h1>
               <p>In terms of patient demand we have different sort of department to serve best treatment in the country.</p>
               <h2 class="Dept-seemore">See More <span class="material-symbols-outlined">
                arrow_circle_right
                </span></h2>
            </div>
            
            <div class="dept-banner-cards-1"> 
                <div class="card-container">
                <div class="card">
                    <div class="card-logo">
                        <img class="card-img" src="../assets/cardio-logo.svg" alt="" loading="lazy">
                    </div>
                    <div class="card-header">
                        <h3 class="card-text-white"> Cardiology</h3>
                    </div>
                    <div class="card-desc">
                        <h3>
                            Medical diagnosis and treatment of congenital heart defects.
                        </h3>
                    </div>
                </div>
            </div>
                <div class="card-container">
                <div class="card">
                    <div class="card-logo">
                        <img class="card-img" src="../assets/neuro-logo.svg" alt="" loading="lazy">
                    </div>
                    <div class="card-header">
                        <h3 class="card-text-white"> Neurology</h3>
                    </div>
                    <div class="card-desc">
                        <h3>
                            Treating conditions that affect the nervous system and diagnoses ailments that affect the brain.
                        </h3>
                    </div>
                </div>
            </div>
            </div>
            <div class="dept-banner-cards-2"> 
                <div class="card-container">
                <div class="card">
                    <div class="card-logo">
                        <img class="card-img" src="../assets/dental-logo.svg" alt="" loading="lazy">
                    </div>
                    <div class="card-header">
                        <h3 class="card-text-white"> Dentistry</h3>
                    </div>
                    <div class="card-desc">
                        <h3>
                            Concerned with the prevention and treatment of oral disease.
                        </h3>
                    </div>
                </div>
            </div>
                <div class="card-container">
                <div class="card">
                    <div class="card-logo">
                        <img class="card-img" src="../assets/Physio-Logo.jpg" alt="" loading="lazy" style="border-radius: 8px;">
                    </div>
                    <div class="card-header">
                        <h3 class="card-text-white"> Physiology</h3>
                    </div>
                    <div class="card-desc">
                        <h3>
                            Concerned with the mechanisms of living things.
                        </h3>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
 