.landing-section-container{
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.landing-section{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.banner-wrapper{
    display: flex;
    flex-direction: row;
}
.text-block-wrapper{
    width: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.banenr-paragraph{
    margin-top: 25px;
    margin-bottom: 35px;
}
p{
    color: #707070;
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 400;
}
.banner-span-red{
    background-image: url("/assets/red-splash.png");
    background-position: 100% 85%;
    background-size: 100%;
    background-repeat: no-repeat;
    color: #223645;
}
.banner-image{
    position: relative;
    width: 49%;
}
img{
    width: 100%;
}
.landing-quote{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    color: #223645;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 800;
    max-width: 20em;
}
.departments-section-wrapper{
margin-left: auto;
margin-right: auto;
max-width: 1200px;
padding-top: 100px;
padding-bottom: 100px;
}   

.departments-banner{
    display: flex;
    flex-direction: row;
    gap: 25px;
    width: max-content;
    max-width: max-content;
}

.dept-text-block-wrapper{
    width: fit-content;
    padding-top: 100px;
    padding-bottom: 100px;
    display: flex;
    flex-direction: column;
}
.Dept-heading{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    color: #223645;
    font-size: 50px;
    line-height: 1.2em;
    font-weight: 800;
    max-width: 10em;
}
.Dept-seemore{
    display: flex;
    align-items: end;
    width: 200px;
    color: #36807F;
    cursor: pointer;
}
h2{
    font-weight: 600
}
.Dept-seemore span{
    transition: 0.3s ease-in;
}
.Dept-seemore:hover span{
    transform: translateX(50%);
}
p{
    max-width: 500px;
}
.dept-banner-cards-1{
    max-width: 600px;
    margin-left: 20px;
}
.dept-banner-cards-2{
    /* display: flex; */
    /* flex-wrap: wrap; */
    position: relative;
    top: 50px;
    gap: 25px;
    max-width: 600px;
}
.card-container{
    width: 100%;
    max-width: 250px;
    margin-top: 20px;
    padding: 30px 20px 15px;
    border-radius: 10px;
    background-color: #36807f;
}
.card-logo{
    max-width: 80px;
}
.card-header{
    margin-top: 10px;
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 24px;
    line-height: 1.2em;
    font-weight: 700;
}
.card-desc{
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Poppins, sans-serif;
    color: white;
    font-size: 16px;
    line-height: 1.5em;
    font-weight: 400;
}