<div class="footer-wrapper">
    <div class="footer">
    <div class="footer-logo-wrapper"><a href="/" aria-current="page" class="">
        <img src="../assets/logo.png" loading="lazy" alt="Logo icon" class="footer-logo"></a>
        <P class="logo-paragraph">It’s time to find freedom from pain so you can start living again.</P>
        <div class="socials">
            <a><i class="fa fa-facebook-f"></i></a>
            <a><i class="fa fa-instagram"></i></a>
            <a><i class="fa fa-twitter"></i></a>
            <a><i class="fa fa-linkedin"></i></a>
        </div>
    </div>
    <div class="footer-links-holder">
        <div class="footer-links-wrapper">
            <h5 class="white-text">Company</h5>
            <a routerLink="/"  class="footer-link">Home</a>
            <a routerLink="/about-us" class="footer-link">About us</a>
            <a routerLink="/Departments" class="footer-link">Departments</a>
            <a routerLink="/our-doctors" class="footer-link">Doctors</a>
        </div>
        <div class="footer-links-wrapper">
            <h5 class="white-text">Services</h5>
            <a routerLink="/Dental"  class="footer-link">Dental</a>
            <a routerLink="/Cardio" class="footer-link">Cardiology</a>
            <a routerLink="/Neuro" class="footer-link">Neurology</a>
            <a routerLink="/Physio" class="footer-link">Physiology</a>
        </div>
        <div class="footer-links-wrapper">
            <h5 class="white-text">Information</h5>
            <p class="footer-paragraph"> B-201 CLASSIQUE CHS LTD, LINK ROAD, EVERSHINE NAGAR, MALAD MUMBAI MH 400064 IN</p>
            <a href="tel:(302)555-0107" class="footer-link">(302) 555-0107</a>
            <a href="mailto:office@medic128.com" class="footer-link">office@lionsclub.com</a>
        </div>
    </div>
    </div>
</div>